<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="cat" class="com.kai.pojo.Cat"/>
    <bean id="dog" class="com.kai.pojo.Dog"/>

    <bean id="person" class="com.kai.pojo.Person" autowire="byName">
        <property name="name" value="kai"/>
    </bean>
    <bean id="person2" class="com.kai.pojo.Person" autowire="byType">
        <property name="name" value="maokai"/>
    </bean>

    <context:annotation-config/>
    <bean id="person3" class="com.kai.pojo.Person"/>

</beans>